<div data-ng-init="pageInit()">
	<ng-include src="headerTemplate" class="ng-scope" />
</div>
<div class="col-md-12" align="center">Admin Home Page</div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">
	<div class="col-md-3">&nbsp;</div>
	<div class="col-md-6">
		<table style="width: 100%" border="1px">
			<tr>
				<td align="center">Purpose</td>
				<td align="center">Action</td>
			</tr>
			<tr>
				<td align="center">For updating bank transactions to Database</td>
				<td align="center"><button class="btn btn-primary"
						style="background: #42210b; color: #f7f7ad"
						data-ng-click="startUpdateRecords()">Update</button></td>
			</tr>
		</table>
	</div>
	<div class="col-md-3">&nbsp;</div>
</div>
<div></div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12" align="center" style="color: red;">Requests
	waiting for Approvel</div>
<div class="col-md-12">&nbsp;</div>
<div class="col-md-12">
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-10">
		<table class="table table-bordered table-striped table-hover"
			style="width: 100%">
			<thead>
				<tr style="font-weight: bold">
					<th>S no.</th>
					<th>Req Date</th>
					<th>Bank Name</th>
					<th>Request Message</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="req in allPendingRequests">
					<td><span>{{$index + 1}}</span></td>
					<td><span>{{req.createdDate | date:"dd-MM-yyyy"}}</span></td>
					<td><span>{{req.bankDetails.name}}</span></td>
					<td><span>{{req.requestMessage}}</span></td>
					<td><span><textarea data-ng-model="requestComments"></textarea></span>
						<button type="button"
								data-ng-click="approveCall(requestComments)"
								style="background: #42210b; color: #f7f7ad"
								class="btn btn-sm btn-primary">Approve</button>
						<button type="button"
								data-ng-click="rejectCall(requestComments, req)"
								style="background: #42210b; color: #f7f7ad"
								class="btn btn-sm btn-primary">Reject</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br />
	<div class="col-md-1">&nbsp;</div>
</div>
<div class="col-md-12" align="center">
	<span data-ng-show="showErrorMessage" class="error-message"
		data-ng-bind="errorMessage"></span>
</div>